Repository Justiceleeg/rapidphoto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @rapidphoto/web lint --fix, pnpm --filter @rapidphoto/web exec tsc --noEmit, pnpm --filter @rapidphoto/api lint --fix, pnpm --filter @rapidphoto/api exec tsc --noEmit, pnpm --filter @rapidphoto/api-client exec tsc --noEmit

fix: update husky pre-commit hook format for v10 compatibility
  .husky/pre-commit
Due: none

fix(api-client): use credentials: 'include' for cross-origin auth
  packages/api-client/src/client.ts
Due: pnpm --filter @rapidphoto/api-client exec tsc --noEmit

chore(openspec): mark deploy-gallery tasks as complete
  openspec/changes/deploy-gallery/tasks.md
Due: none

chore(openspec): archive completed gallery changes
  openspec/changes/archive/2025-11-09-deploy-gallery/proposal.md
  openspec/changes/archive/2025-11-09-deploy-gallery/specs/infrastructure/spec.md
  openspec/changes/archive/2025-11-09-deploy-gallery/tasks.md
  openspec/changes/archive/2025-11-09-mobile-gallery/proposal.md
  openspec/changes/archive/2025-11-09-mobile-gallery/specs/mobile/spec.md
  openspec/changes/archive/2025-11-09-mobile-gallery/tasks.md
  openspec/changes/archive/2025-11-09-web-gallery/proposal.md
  openspec/changes/archive/2025-11-09-web-gallery/specs/web/spec.md
  openspec/changes/archive/2025-11-09-web-gallery/tasks.md
  openspec/specs/infrastructure/spec.md
  openspec/specs/mobile/spec.md
  openspec/specs/web/spec.md
Due: none

chore: upgrade sonner from 1.7.1 to 2.0.7
  apps/web/package.json
  pnpm-lock.yaml
Due: none

feat: add OpenSpec change proposals for backend polish and integration tests
  openspec/changes/backend-integration-tests/proposal.md
  openspec/changes/backend-integration-tests/specs/api/spec.md
  openspec/changes/backend-integration-tests/tasks.md
  openspec/changes/backend-polish/proposal.md
  openspec/changes/backend-polish/specs/api/spec.md
  openspec/changes/backend-polish/tasks.md
Due: none

feat(api): add error handling, validation, logging, and refactor handlers
  apps/api/package.json
  apps/api/src/application/commands/complete-photo/complete-photo.handler.ts
  apps/api/src/application/commands/fail-photo/fail-photo.handler.ts
  apps/api/src/application/commands/update-photo-tags/update-photo-tags.handler.ts
  apps/api/src/application/queries/get-photo/get-photo.handler.ts
  apps/api/src/application/queries/get-photos/get-photos.handler.ts
  apps/api/src/application/queries/get-upload-job/get-upload-job.handler.ts
  apps/api/src/index.ts
  apps/api/src/infrastructure/http/middleware/error.middleware.ts
  apps/api/src/infrastructure/http/middleware/validation.middleware.ts
  apps/api/src/infrastructure/http/routes/photo.routes.ts
  apps/api/src/infrastructure/http/routes/upload-job.routes.ts
  apps/api/src/infrastructure/http/routes/upload.routes.ts
  apps/api/src/infrastructure/http/validation/schemas.ts
  openspec/changes/backend-polish/tasks.md
  pnpm-lock.yaml
Due: pnpm --filter @rapidphoto/api lint --fix, pnpm --filter @rapidphoto/api exec tsc --noEmit

chore: update TypeScript configs to exclude node_modules
  .lintstagedrc.json
  apps/api/tsconfig.json
  apps/web/tsconfig.json
  packages/api-client/tsconfig.json
Due: none

docs(api): add comprehensive JSDoc comments to all layers
  apps/api/src/application/commands/complete-photo/complete-photo.command.ts
  apps/api/src/application/commands/complete-photo/complete-photo.handler.ts
  apps/api/src/application/commands/fail-photo/fail-photo.command.ts
  apps/api/src/application/commands/fail-photo/fail-photo.handler.ts
  apps/api/src/application/commands/init-upload/init-upload.command.ts
  apps/api/src/application/commands/init-upload/init-upload.handler.ts
  apps/api/src/application/commands/update-photo-tags/update-photo-tags.command.ts
  apps/api/src/application/commands/update-photo-tags/update-photo-tags.handler.ts
  apps/api/src/application/queries/get-photo/get-photo.handler.ts
  apps/api/src/application/queries/get-photo/get-photo.query.ts
  apps/api/src/application/queries/get-photos/get-photos.handler.ts
  apps/api/src/application/queries/get-photos/get-photos.query.ts
  apps/api/src/application/queries/get-upload-job/get-upload-job.handler.ts
  apps/api/src/application/queries/get-upload-job/get-upload-job.query.ts
  apps/api/src/domain/photo/photo.entity.ts
  apps/api/src/domain/photo/photo.repository.ts
  apps/api/src/domain/upload-job/upload-job.entity.ts
  apps/api/src/domain/upload-job/upload-job.repository.ts
  apps/api/src/infrastructure/auth/auth.middleware.ts
  apps/api/src/infrastructure/http/middleware/error.middleware.ts
  apps/api/src/infrastructure/http/middleware/validation.middleware.ts
  apps/api/src/infrastructure/http/routes/photo.routes.ts
  apps/api/src/infrastructure/http/routes/sse.routes.ts
  apps/api/src/infrastructure/http/routes/upload-job.routes.ts
  apps/api/src/infrastructure/http/routes/upload.routes.ts
  apps/api/src/infrastructure/http/validation/schemas.ts
  apps/api/src/infrastructure/sse/progress.service.ts
  apps/api/src/infrastructure/storage/r2.service.ts
  openspec/changes/backend-polish/tasks.md
Due: pnpm --filter @rapidphoto/api lint --fix, pnpm --filter @rapidphoto/api exec tsc --noEmit

chore(openspec): archive backend-polish change proposal
  openspec/changes/archive/2025-11-09-backend-polish/proposal.md
  openspec/changes/archive/2025-11-09-backend-polish/specs/api/spec.md
  openspec/changes/archive/2025-11-09-backend-polish/tasks.md
  openspec/specs/api/spec.md
Due: none

refactor: update backend integration tests to end-to-end approach
  docs/ARCHITECTURE.md
  docs/TASK_LIST.md
  openspec/changes/backend-integration-tests/proposal.md
  openspec/changes/backend-integration-tests/specs/api/spec.md
  openspec/changes/backend-integration-tests/tasks.md
Due: none

feat: add comprehensive backend integration tests
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/src/application/commands/init-upload/init-upload.handler.ts
  apps/api/src/index.ts
  apps/api/tests/README.md
  apps/api/tests/integration/auth-flow.test.ts
  apps/api/tests/integration/sse-flow.test.ts
  apps/api/tests/integration/upload-flow.test.ts
  apps/api/tests/setup/test-client.ts
  apps/api/tests/setup/test-database.ts
  apps/api/tests/setup/test-r2.ts
  apps/api/tests/setup/test-server.ts
  apps/api/tests/setup/vitest-setup.ts
  apps/api/vitest.config.ts
  openspec/changes/backend-integration-tests/tasks.md
  pnpm-lock.yaml
Due: pnpm --filter @rapidphoto/api lint --fix, pnpm --filter @rapidphoto/api exec tsc --noEmit

chore: archive backend-integration-tests change proposal
  openspec/changes/archive/2025-11-09-backend-integration-tests/proposal.md
  openspec/changes/archive/2025-11-09-backend-integration-tests/specs/api/spec.md
  openspec/changes/archive/2025-11-09-backend-integration-tests/tasks.md
Due: none

feat: restructure Slice 6 into vertical slices & add OpenSpec proposal for 6A
  docs/TASK_LIST.md
  openspec/changes/add-thumbnail-generation/proposal.md
  openspec/changes/add-thumbnail-generation/specs/api/spec.md
  openspec/changes/add-thumbnail-generation/specs/infrastructure/spec.md
  openspec/changes/add-thumbnail-generation/specs/mobile/spec.md
  openspec/changes/add-thumbnail-generation/specs/web/spec.md
  openspec/changes/add-thumbnail-generation/tasks.md
Due: none

feat(api): add thumbnail generation with BullMQ and Redis
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/application/commands/complete-photo/complete-photo.handler.ts
  apps/api/src/application/commands/init-upload/init-upload.handler.ts
  apps/api/src/config/env.ts
  apps/api/src/domain/photo/photo.entity.ts
  apps/api/src/index.ts
  apps/api/src/infrastructure/database/migrations/0005_cool_earthquake.sql
  apps/api/src/infrastructure/database/migrations/meta/0005_snapshot.json
  apps/api/src/infrastructure/database/migrations/meta/_journal.json
  apps/api/src/infrastructure/database/repositories/photo.repository.impl.ts
  apps/api/src/infrastructure/database/schema.ts
  apps/api/src/infrastructure/queue/photo-queue.ts
  apps/api/src/infrastructure/queue/queue.config.ts
  apps/api/src/infrastructure/queue/workers/base.worker.ts
  apps/api/src/infrastructure/queue/workers/index.ts
  apps/api/src/infrastructure/queue/workers/thumbnail-generation.worker.ts
  openspec/changes/add-thumbnail-generation/tasks.md
  pnpm-lock.yaml
Due: pnpm --filter @rapidphoto/api lint --fix, pnpm --filter @rapidphoto/api exec tsc --noEmit

feat(frontend): add thumbnail display support for web and mobile
  apps/api/src/application/queries/get-photo/get-photo.handler.ts
  apps/api/src/application/queries/get-photo/get-photo.query.ts
  apps/api/src/application/queries/get-photos/get-photos.handler.ts
  apps/mobile/components/gallery/PhotoGrid.tsx
  apps/web/components/gallery/PhotoGrid.tsx
  packages/api-client/src/photo.client.ts
Due: pnpm --filter @rapidphoto/web lint --fix, pnpm --filter @rapidphoto/web exec tsc --noEmit, pnpm --filter @rapidphoto/api lint --fix, pnpm --filter @rapidphoto/api exec tsc --noEmit, pnpm --filter @rapidphoto/api-client exec tsc --noEmit

chore: add Redis dump.rdb to gitignore
  .gitignore
Due: none

docs: mark deployment tasks as complete
  openspec/changes/add-thumbnail-generation/tasks.md
Due: none

docs: mark frontend implementation tasks as complete
  openspec/changes/add-thumbnail-generation/tasks.md
Due: none

feat(web): add automatic gallery refresh on photo upload
  apps/web/app/dashboard/layout.tsx
  apps/web/lib/hooks/use-upload-cache-invalidation.ts
  apps/web/lib/stores/upload-store.ts
Due: pnpm --filter @rapidphoto/web lint --fix, pnpm --filter @rapidphoto/web exec tsc --noEmit

docs: mark all thumbnail generation tasks complete
  openspec/changes/add-thumbnail-generation/tasks.md
Due: none

chore: archive completed thumbnail generation change
  openspec/changes/archive/2025-11-09-add-thumbnail-generation/proposal.md
  openspec/changes/archive/2025-11-09-add-thumbnail-generation/specs/api/spec.md
  openspec/changes/archive/2025-11-09-add-thumbnail-generation/specs/infrastructure/spec.md
  openspec/changes/archive/2025-11-09-add-thumbnail-generation/specs/mobile/spec.md
  openspec/changes/archive/2025-11-09-add-thumbnail-generation/specs/web/spec.md
  openspec/changes/archive/2025-11-09-add-thumbnail-generation/tasks.md
Due: none

feat(openspec): add AI tagging change proposal (Slice 6B)
  openspec/changes/ai-tagging/proposal.md
  openspec/changes/ai-tagging/specs/api/spec.md
  openspec/changes/ai-tagging/specs/infrastructure/spec.md
  openspec/changes/ai-tagging/specs/mobile/spec.md
  openspec/changes/ai-tagging/specs/web/spec.md
  openspec/changes/ai-tagging/tasks.md
Due: none

feat(api): add suggested_tags field and GIN indexes for AI tagging
  apps/api/src/application/commands/init-upload/init-upload.handler.ts
  apps/api/src/domain/photo/photo.entity.ts
  apps/api/src/infrastructure/database/migrations/0006_empty_wolfpack.sql
  apps/api/src/infrastructure/database/migrations/meta/0006_snapshot.json
  apps/api/src/infrastructure/database/migrations/meta/_journal.json
  apps/api/src/infrastructure/database/repositories/photo.repository.impl.ts
  apps/api/src/infrastructure/database/schema.ts
  openspec/changes/ai-tagging/tasks.md
Due: pnpm --filter @rapidphoto/api lint --fix, pnpm --filter @rapidphoto/api exec tsc --noEmit

feat(api): implement AI tagging with AWS Rekognition
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/application/commands/complete-photo/complete-photo.handler.ts
  apps/api/src/config/env.ts
  apps/api/src/infrastructure/ai/rekognition.config.ts
  apps/api/src/infrastructure/ai/rekognition.service.ts
  apps/api/src/infrastructure/queue/photo-queue.ts
  apps/api/src/infrastructure/queue/workers/ai-tagging.worker.ts
  apps/api/src/infrastructure/queue/workers/index.ts
  openspec/changes/ai-tagging/tasks.md
  pnpm-lock.yaml
Due: pnpm --filter @rapidphoto/api lint --fix, pnpm --filter @rapidphoto/api exec tsc --noEmit

feat(api): add accept/reject endpoints for AI-suggested tags
  apps/api/src/application/commands/accept-tag/accept-tag.command.ts
  apps/api/src/application/commands/accept-tag/accept-tag.handler.ts
  apps/api/src/application/commands/reject-tag/reject-tag.command.ts
  apps/api/src/application/commands/reject-tag/reject-tag.handler.ts
  apps/api/src/infrastructure/http/routes/photo.routes.ts
  apps/api/src/infrastructure/http/validation/schemas.ts
  openspec/changes/ai-tagging/tasks.md
Due: pnpm --filter @rapidphoto/api lint --fix, pnpm --filter @rapidphoto/api exec tsc --noEmit

feat(web): add AI tag suggestions UI with accept/reject
  apps/api/src/application/queries/get-photo/get-photo.handler.ts
  apps/api/src/application/queries/get-photo/get-photo.query.ts
  apps/api/src/application/queries/get-photos/get-photos.handler.ts
  apps/web/app/dashboard/gallery/page.tsx
  apps/web/components/gallery/PhotoModal.tsx
  openspec/changes/ai-tagging/tasks.md
  packages/api-client/src/photo.client.ts
Due: pnpm --filter @rapidphoto/web lint --fix, pnpm --filter @rapidphoto/web exec tsc --noEmit, pnpm --filter @rapidphoto/api lint --fix, pnpm --filter @rapidphoto/api exec tsc --noEmit, pnpm --filter @rapidphoto/api-client exec tsc --noEmit

feat(mobile): add AI tag suggestions UI with accept/reject
  apps/mobile/app/(tabs)/gallery.tsx
  apps/mobile/components/gallery/PhotoViewer.tsx
  openspec/changes/ai-tagging/tasks.md
Due: none

docs: mark all AI tagging tasks as complete
  openspec/changes/ai-tagging/tasks.md
Due: none

chore: archive completed AI tagging change
  openspec/changes/archive/2025-11-09-ai-tagging/proposal.md
  openspec/changes/archive/2025-11-09-ai-tagging/specs/api/spec.md
  openspec/changes/archive/2025-11-09-ai-tagging/specs/infrastructure/spec.md
  openspec/changes/archive/2025-11-09-ai-tagging/specs/mobile/spec.md
  openspec/changes/archive/2025-11-09-ai-tagging/specs/web/spec.md
  openspec/changes/archive/2025-11-09-ai-tagging/tasks.md
  openspec/specs/api/spec.md
  openspec/specs/infrastructure/spec.md
  openspec/specs/mobile/spec.md
  openspec/specs/web/spec.md
Due: none

feat(api): add tag search and autocomplete APIs
  apps/api/src/application/queries/get-photos/get-photos.handler.ts
  apps/api/src/application/queries/get-photos/get-photos.query.ts
  apps/api/src/application/queries/get-tags/get-tags.handler.ts
  apps/api/src/application/queries/get-tags/get-tags.query.ts
  apps/api/src/domain/photo/photo.repository.ts
  apps/api/src/infrastructure/database/repositories/photo.repository.impl.ts
  apps/api/src/infrastructure/http/routes/photo.routes.ts
  apps/api/src/infrastructure/http/validation/schemas.ts
  openspec/changes/add-tag-search/proposal.md
  openspec/changes/add-tag-search/specs/api/spec.md
  openspec/changes/add-tag-search/specs/mobile/spec.md
  openspec/changes/add-tag-search/specs/web/spec.md
  openspec/changes/add-tag-search/tasks.md
Due: pnpm --filter @rapidphoto/api lint --fix, pnpm --filter @rapidphoto/api exec tsc --noEmit

feat(web): add tag search and autocomplete to gallery
  apps/api/src/infrastructure/http/validation/schemas.ts
  apps/web/app/dashboard/gallery/page.tsx
  apps/web/components/gallery/TagInput.tsx
  apps/web/components/gallery/TagSearch.tsx
  openspec/changes/add-tag-search/tasks.md
  packages/api-client/src/photo.client.ts
Due: pnpm --filter @rapidphoto/web lint --fix, pnpm --filter @rapidphoto/web exec tsc --noEmit, pnpm --filter @rapidphoto/api lint --fix, pnpm --filter @rapidphoto/api exec tsc --noEmit, pnpm --filter @rapidphoto/api-client exec tsc --noEmit

feat(mobile): add tag search and autocomplete to gallery
  apps/mobile/app/(tabs)/gallery.tsx
  apps/mobile/components/gallery/TagInput.tsx
  apps/mobile/components/gallery/TagSearch.tsx
  apps/web/components/gallery/PhotoModal.tsx
  apps/web/components/gallery/TagInput.tsx
  docs/ARCHITECTURE.md
  docs/TASK_LIST.md
  openspec/changes/add-tag-search/tasks.md
Due: pnpm --filter @rapidphoto/web lint --fix, pnpm --filter @rapidphoto/web exec tsc --noEmit

docs: mark all tag search tasks as complete
  openspec/changes/add-tag-search/tasks.md
Due: none

Fix image download: proxy through API to avoid CORS issues
  apps/api/src/infrastructure/http/routes/photo.routes.ts
  apps/api/src/infrastructure/storage/r2.service.ts
  apps/web/components/gallery/PhotoModal.tsx
  packages/api-client/src/client.ts
  packages/api-client/src/photo.client.ts
Due: pnpm --filter @rapidphoto/web lint --fix, pnpm --filter @rapidphoto/web exec tsc --noEmit, pnpm --filter @rapidphoto/api lint --fix, pnpm --filter @rapidphoto/api exec tsc --noEmit, pnpm --filter @rapidphoto/api-client exec tsc --noEmit

Add simplify UI & navigation proposal and specs
  openspec/changes/simplify-ui-navigation/proposal.md
  openspec/changes/simplify-ui-navigation/specs/mobile/spec.md
  openspec/changes/simplify-ui-navigation/specs/web/spec.md
  openspec/changes/simplify-ui-navigation/tasks.md
Due: none

Simplify UI navigation: remove dashboard, add header, restore upload page
  apps/mobile/app/(app)/_layout.tsx
  apps/mobile/app/(app)/gallery.tsx
  apps/mobile/app/(auth)/login/index.tsx
  apps/mobile/app/(auth)/register/index.tsx
  apps/mobile/app/(tabs)/gallery.tsx
  apps/mobile/app/(tabs)/index.tsx
  apps/mobile/app/index.tsx
  apps/web/app/(auth)/login/page.tsx
  apps/web/app/(auth)/register/page.tsx
  apps/web/app/app-header.tsx
  apps/web/app/dashboard/layout.tsx
  apps/web/app/dashboard/page.tsx
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/app/upload/page.tsx
  apps/web/components/upload/UploadProgress.tsx
  openspec/changes/simplify-ui-navigation/tasks.md
Due: pnpm --filter @rapidphoto/web lint --fix, pnpm --filter @rapidphoto/web exec tsc --noEmit

Fix TypeScript error in photo download route
  apps/api/src/infrastructure/http/routes/photo.routes.ts
Due: pnpm --filter @rapidphoto/api lint --fix, pnpm --filter @rapidphoto/api exec tsc --noEmit

Mark all simplify UI navigation tasks as complete
  openspec/changes/simplify-ui-navigation/tasks.md
Due: none

Archive simplify-ui-navigation change
  openspec/changes/archive/2025-11-10-simplify-ui-navigation/proposal.md
  openspec/changes/archive/2025-11-10-simplify-ui-navigation/specs/mobile/spec.md
  openspec/changes/archive/2025-11-10-simplify-ui-navigation/specs/web/spec.md
  openspec/changes/archive/2025-11-10-simplify-ui-navigation/tasks.md
Due: none

Path conditions:
  pnpm --filter @rapidphoto/web lint --fix: any of: apps/web/**/*.{ts,tsx}
  pnpm --filter @rapidphoto/web exec tsc --noEmit: any of: apps/web/**/*.{ts,tsx}
  pnpm --filter @rapidphoto/api lint --fix: any of: apps/api/**/*.ts
  pnpm --filter @rapidphoto/api exec tsc --noEmit: any of: apps/api/**/*.ts
  pnpm --filter @rapidphoto/api-client exec tsc --noEmit: any of: packages/api-client/**/*.ts
